*,
*::before,
*::After {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
  color: #DEB992; }

.container {
  margin: 1rem;
  background-color: #f9f7f6;
  display: grid;
  grid-template-rows: 100vh repeat(2, 1fr);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.header {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(11, 50, 77, 0.8), rgba(15, 99, 94, 0.95)), url(../img/land-9.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .header__heading-1 {
    padding-top: 7rem; }
  .header__heading-2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 3.5rem;
    align-items: center;
    padding-bottom: 3rem; }
    .header__heading-2::before, .header__heading-2::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__nav {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    cursor: pointer; }
  .header__link {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .header__link:hover {
      color: #1BA098;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

.header-portrait {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(11, 50, 77, 0.8), rgba(15, 99, 94, 0.95)), url(../img/people-4.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .header-portrait__heading-1 {
    padding-top: 7rem; }
  .header-portrait__heading-2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 3.5rem;
    align-items: center;
    padding-bottom: 3rem; }
    .header-portrait__heading-2::before, .header-portrait__heading-2::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header-portrait__nav {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    cursor: pointer; }
  .header-portrait__link {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .header-portrait__link:hover {
      color: #1BA098;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

.middle {
  background-color: inherit;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: block; }

.gallery {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
  grid-row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .gallery__album {
    display: grid; }
    .gallery__album--1 {
      background-image: linear-gradient(rgba(15, 99, 94, 0.8), rgba(163, 135, 106, 0.95)), url(../img/people-4.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh; }
    .gallery__album--2 {
      background-image: linear-gradient(rgba(163, 135, 106, 0.8), rgba(15, 99, 94, 0.95)), url(../img/auto-2.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh; }
    .gallery__album--3 {
      background-image: linear-gradient(rgba(15, 99, 94, 0.8), rgba(163, 135, 106, 0.95)), url(../img/abs-6.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh; }
    .gallery__album--4 {
      background-image: linear-gradient(rgba(163, 135, 106, 0.8), rgba(15, 99, 94, 0.95)), url(../img/land-17.jpg);
      height: 50vh;
      background-size: cover;
      background-position: center; }
    .gallery__album--text {
      align-self: center;
      justify-self: center;
      cursor: pointer;
      color: inherit;
      text-decoration: none;
      transition: all .3s; }
      .gallery__album--text:hover {
        transform: scale(3.5) translateY(-10px);
        color: #fff; }

.middle {
  background-color: inherit;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: block;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.collection {
  list-style: none;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, min-content); }
  .collection__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #030c12;
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  align-items: center;
  padding: 8rem; }

.nav {
  list-style: none;
  display: flex;
  justify-content: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.5rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-right: 3rem;
    margin-bottom: 6rem; }
  .nav__link:hover, .nav__link:active {
    background-color: transparent;
    transform: translateY(-3px);
    color: #1BA098; }

.copyright {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  width: 60%;
  color: #FFF; }

.heading-1 {
  font-size: 30rem;
  font-weight: 100;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-weight: 200;
  line-height: 1; }

.heading-3 {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1; }

a {
  line-height: 1; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }
