.abouts {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .abouts__text {
    margin-bottom: 8rem;
    font-size: 5rem;
    font-weight: 100;
    display: grid;
    grid-template-columns: max-content;
    justify-items: center;
    align-items: center;
    text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .abouts p {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .abouts p {
      font-size: 3rem; } }
  .abouts__heading-2 {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
    grid-column-gap: 2.5rem;
    align-items: center;
    padding-bottom: 8rem; }
    .abouts__heading-2::before, .abouts__heading-2::after {
      content: "";
      height: 1px;
      background-color: currentColor; }
  .abouts__nav {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-gap: 3rem;
    text-transform: uppercase; }
  .abouts__link {
    color: inherit;
    font-size: 1.7rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .abouts__link:hover {
      color: #fff;
      cursor: pointer;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

.contacts {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .contacts__heading-1 {
    margin-bottom: 8rem;
    font-size: 5rem;
    font-weight: 100;
    line-height: 1;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .contacts__heading-1 {
        font-size: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .contacts__heading-1 {
        font-size: 2.5rem; } }
  .contacts__heading-2 {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
    grid-column-gap: 3.5rem;
    align-items: center;
    padding-bottom: 8rem; }
    .contacts__heading-2::before, .contacts__heading-2::after {
      content: "";
      height: 1px;
      background-color: currentColor; }
  .contacts__nav {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-gap: 3rem;
    cursor: pointer;
    text-transform: uppercase; }
  .contacts__link {
    color: inherit;
    font-size: 1.7rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .contacts__link:hover {
      color: #fff;
      cursor: pointer;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

*,
*::before,
*::After {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
  color: #DEB992; }

.container {
  margin: 1rem;
  background-color: #f9f7f6;
  display: grid;
  grid-template-rows: calc(100vh - 2rem) repeat(2, 1fr);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 56.25em) {
    .container {
      margin: 0;
      grid-template-rows: 100vh repeat(2, 1fr); } }

.contact {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(3, 12, 18, 0.8), rgba(27, 160, 152, 0.95)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }

.about {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(3, 12, 18, 0.8), rgba(27, 160, 152, 0.95)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }

.middle {
  background-color: inherit;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: block;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .middle {
      padding-left: 0;
      padding-right: 0; } }

.collection {
  list-style: none;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, min-content);
  justify-items: center;
  align-content: center; }
  @media only screen and (max-width: 56.25em) {
    .collection {
      padding-left: 0;
      padding-right: 0; } }
  .collection__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.header {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(11, 50, 77, 0.8), rgba(15, 99, 94, 0.95)), url(../img/land_9.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .header__heading-1 {
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem; }
    @media only screen and (max-width: 31.25em) {
      .header__heading-1 {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 3rem; } }
  .header__heading-2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 3.5rem;
    align-items: center;
    padding-bottom: 3rem; }
    .header__heading-2::before, .header__heading-2::after {
      content: "";
      height: 1px;
      background-color: currentColor; }
      @media only screen and (max-width: 31.25em) {
        .header__heading-2::before, .header__heading-2::after {
          display: none; } }
    @media only screen and (max-width: 31.25em) {
      .header__heading-2 {
        display: none; } }
  .header__nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    justify-items: center;
    justify-content: center;
    align-content: center; }
    @media only screen and (max-width: 37.5em) {
      .header__nav {
        padding-top: 5rem;
        grid-template-columns: minmax(min-content, max-content);
        font-size: 1.6rem;
        grid-row-gap: 1rem; } }
    @media only screen and (max-width: 31.25em) {
      .header__nav {
        line-height: 1;
        padding-top: 1rem;
        grid-gap: 1rem; } }
  .header__link {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .header__link:hover {
      color: #1BA098;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

.abstract {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(11, 50, 77, 0.8), rgba(15, 99, 94, 0.95)), url(../img/abs_6.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .abstract__heading-1 {
    padding-top: 7rem; }
  .abstract__heading-2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 3.5rem;
    align-items: center;
    padding-bottom: 3rem; }
    .abstract__heading-2::before, .abstract__heading-2::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .abstract__nav {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    cursor: pointer; }
  .abstract__link {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .abstract__link:hover {
      color: #1BA098;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

.automotive {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(11, 50, 77, 0.8), rgba(15, 99, 94, 0.95)), url(../img/auto_26.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .automotive__heading-1 {
    padding-top: 7rem; }
  .automotive__heading-2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 3.5rem;
    align-items: center;
    padding-bottom: 3rem; }
    .automotive__heading-2::before, .automotive__heading-2::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .automotive__nav {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    cursor: pointer; }
  .automotive__link {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .automotive__link:hover {
      color: #1BA098;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

.portrait {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(11, 50, 77, 0.8), rgba(15, 99, 94, 0.95)), url(../img/people_4.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .portrait__heading-1 {
    padding-top: 7rem; }
  .portrait__heading-2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 3.5rem;
    align-items: center;
    padding-bottom: 3rem; }
    .portrait__heading-2::before, .portrait__heading-2::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .portrait__nav {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    cursor: pointer; }
  .portrait__link {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .portrait__link:hover {
      color: #1BA098;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

.landscape {
  background-color: #051622;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(11, 50, 77, 0.8), rgba(15, 99, 94, 0.95)), url(../img/land_6.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  align-content: center; }
  .landscape__heading-1 {
    padding-top: 7rem; }
  .landscape__heading-2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 3.5rem;
    align-items: center;
    padding-bottom: 3rem; }
    .landscape__heading-2::before, .landscape__heading-2::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .landscape__nav {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    cursor: pointer; }
  .landscape__link {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    transition: all .2s; }
    .landscape__link:hover {
      color: #1BA098;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

.middle {
  background-color: inherit;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-items: center;
  align-content: center; }
  @media only screen and (max-width: 31.25em) {
    .middle {
      padding-left: 0;
      padding-right: 0; } }

.gallery {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 31.25em) {
    .gallery {
      padding-left: 0;
      padding-right: 0; } }
  .gallery__album {
    display: grid;
    width: 100%; }
    .gallery__album--1 {
      background-image: linear-gradient(rgba(15, 99, 94, 0.8), rgba(163, 135, 106, 0.95)), url(../img/people_4.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh; }
    .gallery__album--2 {
      background-image: linear-gradient(rgba(163, 135, 106, 0.8), rgba(15, 99, 94, 0.95)), url(../img/auto_2.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh; }
    .gallery__album--3 {
      background-image: linear-gradient(rgba(15, 99, 94, 0.8), rgba(163, 135, 106, 0.95)), url(../img/abs_6.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh; }
    .gallery__album--4 {
      background-image: linear-gradient(rgba(163, 135, 106, 0.8), rgba(15, 99, 94, 0.95)), url(../img/land_17.jpg);
      height: 50vh;
      background-size: cover;
      background-position: center; }
    .gallery__album--text {
      align-self: center;
      justify-self: center;
      cursor: pointer;
      color: inherit;
      text-decoration: none;
      transition: all .3s; }
      .gallery__album--text:hover {
        transform: scale(1.5) translateY(-10px);
        color: #fff; }
        @media only screen and (max-width: 37.5em) {
          .gallery__album--text:hover:hover {
            transform: none;
            transition: none;
            color: inherit; } }

.footer {
  background-color: #030c12;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  align-items: center;
  padding: 8rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 31.25em) {
    .footer {
      font-size: 1.2rem;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
      justify-content: center; } }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, max-content));
  align-items: center;
  justify-content: center;
  color: #1BA098; }
  @media only screen and (max-width: 31.25em) {
    .nav {
      font-size: 1.2rem;
      width: 100%;
      margin-bottom: 3rem; } }
  .nav__link:link, .nav__link:visited {
    font-size: 1.5rem;
    color: currentColor;
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 31.25em) {
      .nav__link:link, .nav__link:visited {
        font-size: 1.2rem;
        margin-right: auto;
        justify-items: center;
        justify-self: center;
        justify-content: center;
        align-self: center;
        width: 100%;
        margin-bottom: 3rem; } }
  .nav__link:hover, .nav__link:active {
    background-color: transparent;
    transform: translateY(-3px);
    color: #fff; }
    @media only screen and (max-width: 31.25em) {
      .nav__link:hover, .nav__link:active {
        transform: none;
        color: currentColor; } }

.copyright {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  width: 60%;
  color: #1BA098; }
  @media only screen and (max-width: 31.25em) {
    .copyright {
      font-size: 1rem; } }

.heading-1 {
  font-size: 30rem;
  font-weight: 100;
  line-height: 1; }
  @media only screen and (max-width: 56.25em) {
    .heading-1 {
      font-size: 20rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 15rem; } }

.heading-2 {
  font-size: 4rem;
  font-weight: 200;
  line-height: 1; }
  @media only screen and (max-width: 56.25em) {
    .heading-2 {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-2 {
      font-size: 3.5rem; } }

.heading-3 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1; }

a {
  line-height: 1; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }
