//////////////////////////////////////////////////// Colors 
$color-1-light: #0b324d;
$color-1: #051622;
$color-1-dark:  #030c12;


$color-2-light: #23cfc4;
$color-2: #1BA098;
$color-2-dark: #0f635e;

$color-3-light: #f5cca2;
$color-3: #DEB992;
$color-3-dark: #a3876a;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
////////////////////////////////////////////////////////// 

/// FONT
$font-primary: 'Noto Serif JP', serif;

//////BReakpoints
$bp-medium: 56.25em; // 900px/ 16px
$bp-small: 37.5em; //600
$bp-petit: 31.25em; //500

*,
*::before,
*::After {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {

  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  color: $color-3;
}


.container {
  margin: 1rem;
  background-color: $color-grey-light-1;

  display: grid;
  grid-template-rows: calc(100vh - 2rem) repeat(2, 1fr) ;
  //grid-template-columns: repeat(6, 1fr);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-medium) {
    margin: 0;
    grid-template-rows: 100vh  repeat(2, 1fr) ;
  }

}

.contact {
  
  background-color: $color-1;
  grid-column: 1 / -1;

  background-image: linear-gradient( rgba($color-1-dark, .80), rgba($color-2, .95)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: minmax(min-content, max-content);

  justify-content: center; 
  align-content: center;
  
}

.about {
  background-color: $color-1;
  grid-column: 1 / -1;

  background-image: linear-gradient( rgba($color-1-dark, .80), rgba($color-2, .95)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: minmax(min-content, max-content);

  justify-content: center; 
  align-content: center;
}