.middle {
  background-color:  inherit;
  grid-row: 2 / -1; 
  grid-column: 1 / -1;
  display: block;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media only screen and (max-width: $bp-medium) {
    padding-left: 0;
    padding-right: 0;
    
  }
}

.collection {
  list-style: none;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, min-content);
  //grid-template-rows: repeat(7, 95vw); // 5% of the view port width for height / will define th
  //grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  justify-items: center; 
  align-content: center;

  @media only screen and (max-width: $bp-medium) {
    padding-left: 0;
    padding-right: 0;
    
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover; // object fit only works if we set the height and the width
    display: block;
    
  }
}

