.footer {
  background-color: $color-1;
 
  grid-column: 1 / -1;
  grid-row: 4 / -1; 
  align-items: center;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: flex;
  //margin-right: auto;
  justify-content: center;

  &__link:link,
  &__link:visited {
    font-size: 1.5rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-right: 3rem;
    margin-bottom: 6rem;
  }

  &__link:hover,
  &__link:active {
    background-color: transparent;
    transform: translateY(-3px);  // negative number pull it up
    color: $color-2;
  }
}

.copyright {
  margin-right: auto;
  margin-left: auto;
  //margin-top: 6rem;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  width: 60%; 
}