.footer {
  background-color: $color-1-dark;
  //background-image: linear-gradient(rgba($color-2-dark, 1), rgba($color-1-dark, 1));
  display: grid;
  grid-column: 1 / -1;
  grid-row: 4 / -1; 
  align-items: center;
  padding: 8rem;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-petit) {
    font-size: 1.2rem;
    
    align-items: center; 
    grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
    
    justify-content: center;
  }
  
  
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, max-content)); 
  align-items: center;
  justify-content: center;
  color: $color-2;

  @media only screen and (max-width: $bp-petit) {
    font-size: 1.2rem;
    
    width: 100%; 
    margin-bottom: 3rem;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.5rem;
    color: currentColor;
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    
    margin-bottom: 6rem;

    @media only screen and (max-width: $bp-petit) {
      font-size: 1.2rem;
      margin-right: auto;
      justify-items: center;
      justify-self: center; 
      justify-content: center;
      align-self: center;
      width: 100%; 
      margin-bottom: 3rem;
    }
  }

  &__link:hover,
  &__link:active {
    background-color: transparent;
    transform: translateY(-3px);  // negative number pull it up
    color: #fff;

    @media only screen and (max-width: $bp-petit) {
      transform: none;
      color: currentColor;
    }
  }
}

.copyright {
  margin-right: auto;
  margin-left: auto;
  //margin-top: 6rem;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  width: 60%; 
  color: $color-2;

  @media only screen and (max-width: $bp-petit) {
    font-size: 1rem;
    
  }
}