.middle {
  background-color:  inherit;
  grid-row: 2 / -1; 
  grid-column: 1 / -1;
}

.gallery {
  list-style: none;

  display: grid;
  grid-template-rows: max-content;
  grid-row-gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
  

  &__album {
    display: grid;
    
    
    &--1 {
      background-image: linear-gradient( rgba($color-2-dark, .80), rgba($color-3-dark, .95)), url(../img/people-17.jpg);
      background-size: cover;
      height: 100vh;

      transition: all .2s;
      &:hover {
        background-image:  url(../img/people-17.jpg);
        a {
            transform: scale(3.5) translateY(-10px);
            color: #fff;
        }
      }
    }

    &--2 {
      background-image: linear-gradient( rgba($color-3-dark, .80), rgba($color-2-dark, .95)), url(../img/auto-17.jpg);
      background-size: cover;
      height: 100vh;

      transition: all .2s;
      &:hover{
        background-image:  url(../img/auto-17.jpg);
        a {
            transform: scale(3.5) translateY(-10px);
            color: #fff;
        }
      }
    }

    &--3 {
      background-image: linear-gradient( rgba($color-2-dark, .80), rgba($color-3-dark, .95)), url(../img/abs-17.jpg);
      background-size: cover;
      height: 100vh;

      &:hover{
        background-image:  url(../img/abs-17.jpg);
        a {
  
            transform: scale(3.5) translateY(-10px);
            color: #fff;
            //transform: ;
        }
      }
    }

    &--4 {
      background-image: linear-gradient( rgba($color-3-dark, .80), rgba($color-2-dark, .95)), url(../img/land-17.jpg);
      height: 100vh;
      background-size: cover;

      
      &:hover{
        background-image:  url(../img/land-17.jpg);
        a {
  
            transform: scale(3.5) translateY(-10px);
            color: #fff;
            //transform: ;
        }
      }
    }

    &--text {
      align-self: center;
      justify-self: center;
      cursor: pointer;
      color: inherit;
      text-decoration: none;
      transition: all .3s;
    }
  }
}
