.middle {
  background-color:  inherit;
  grid-row: 2 / -1; 
  grid-column: 1 / -1;
  
}

.gallery {
  list-style: none;

  display: grid;
  grid-template-rows: max-content;
  grid-row-gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 2rem;

  &__album {
    display: grid;
    &--1 {
      background-image: url(../img/people-17.jpg);
      background-size: cover;
      height: 100vh;
      //width: 100%;

      display: grid;
    }

    &--2 {
      background-image: url(../img/auto-17.jpg);
      background-size: cover;
      height: 100vh;
      //width: 100%;
    }

    &--3 {
      background-image: url(../img/abs-17.jpg);
      background-size: cover;
      height: 100vh;
      //width: 100%;
    }

    &--4 {
      background-image: url(../img/land-17.jpg);
      height: 100vh;
      background-size: cover;
    }

    &--text {
      align-self: center;
      justify-self: center;
    }
  }
}
