.heading-1 {
  font-size: 30rem;
  font-weight: 100;
  line-height: 1; //this makes the spacing between broken lines be smaller
}

.heading-2 {
  font-size: 4rem;
  font-weight: 200;
  line-height: 1; //this makes the spacing between broken lines be smaller
}

.heading-3 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1; //this makes the spacing between broken lines be smaller
}

a {
  line-height: 1;
}


.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }